* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
